{% extends "layout.html" %}
{% block body %}

<h1 class="display-4" id="top">
    Investment Calculator
</h1>

<table width="800" align="center">
    <tr>
    <td>
    <h6>The program takes various input from the user via a form, checks if the input is valid integer values and stores all as variables. It then uses a class and modules which calculate the deposit, mortgage amount, salary and monthly payment using numpy and numpy_financial formulas. If input was correct, the page loads an additional page at the bottom via Jinja syntax, which displays the calculated values and provides estimated future values based on a hypothetical annual price increase given by the user.</h6>
    </td>
    </tr>
    <tr>
        <td>
            <medium >
                <strong>Submit your details below and see how your property invesment can change overtime. </strong> 
             </medium> <br>
        </td>
        
    </tr>
    <tr>
        <td align="center">
            <p class="medium">
                The results will appear at the bottom of the form
            </p>
        </td>
    </tr>
</table>
<p></p>

<form action="/investment-calc" method="post" id="myform" class="bg-light" data-autosubmit>
<br>
    <div class="mb-2 text-left p-2" id="mytable">
        <label class="form-label text-left">Purchase price</label>
        <input type="int" name="price" class="form-control" id="exampleFormControlInput1" placeholder="Purchase price">
    </div>

    <div class="mb-2 text-left p-2" id="mytable">
        <label class="sr-only" for="inlineFormInputGroup">How much deposit do you have? (minimum 5% of the purchase price) </label>
        <input type="int" class="form-control" id="inlineFormInputGroup" placeholder="Deposit amount" name="deposit">
    </div>

    <div class="mb-2 text-left p-2" id="mytable">
        <label class="sr-only" for="inlineFormInputGroup">Desired full term of mortgage in years (Consider a
            maximum term of up to your 70th birthday)</label>
        <input type="int" class="form-control" id="inlineFormInputGroup" placeholder="Duration of mortgage"
            name="term">
    </div>

    <div class="mb-2 text-left p-2" id="mytable">
        <label class="sr-only" for="inlineFormInputGroup">Interest rate as a whole or a decimal number.</label>
        <input type="float" class="form-control" id="inlineFormInputGroup" placeholder="Interest rate" name="rate">
    </div>

    <div class="mb-2 text-left" id="mytable">
        <label class="sr-only md-auto p-2" for="inlineFormInputGroup">Desired initial fixed rate period (2, 5 or 10 
            years). </label>
        <input type="radio" name="fixed" value = "2"> <strong>2 years</strong>
        <input type="radio" name="fixed" value = "5"> <strong>5 years</strong>
        <input type="radio" name="fixed" value = "10"><strong> 10 years</strong>
    </div>

    <div class="mb-2 text-left p-2" id="mytable">
        <label class="sr-only" for="inlineFormInputGroup"> Estimated annual price increase in percent (
            2,3, 5, 10 etc.). Enter just the number.</label>
        <input type="int" class="form-control" id="inlineFormInputGroup" placeholder="Annual price increase"
            name="increase">
    </div>

    <br>
    
    <div class="col-auto bg-light" id="middle" >
        <button type="submit" class="btn btn-primary mb-2">Submit results</button>

</form>

 </div>

<p class="bg-light" id="results"></p>
{% if deposit %}
<div class="card row justify-content-center bg-light" id="main_width mytable">
    <div class="card-header lead mb-2 text-left"">
        Results
        <p class="small"> All future figures are estimated</p>
    </div>
    
    <div class="card-header lead mb-2 text-left">
        <div class="card-body bg-light" id="mytable">
            <table id="main_width mytable">
                
                    {% include "investment-calc.html" %}
                    
            </table>
        </div>
          
    </div>
</div>
{% endif %}  
<!--
<div class="container text-left" id="sm-width mytable text-left">
    <div class="row text-left" id="sm-width mytable text-left">
      <div class="col text-left" id="sm-width mytable text-left">
        <table id="sm-width mytable text-left">
            {% include "investment-calc.html" %}
        </table>
      </div>
      <div class="col" id="sm-width mytable text-left">
        <table id="sm-width mytable">
            {% include "investment-calc2.html" %}
        </table>
      </div>

-->

<p>
<form action="/" method="get" id="bottom">
    <button type="submit" class="btn btn-dark">Return Home</button>
</form>
</p>
<br>
<div class="card text-center bg-light">
<div class="col-md-3"></div>
</div>

{% endblock %}