{% extends "layout.html" %}
{% block body %}
        
        <h1 class="display-4">
            Password Generator
        </h1>
        <table width="800" align="center">
            <tr>
            <td>
            <h6>The program generates a random password of given number of characters. The users inputs a number via a form, which is converted to a variable and sent to the function. The function takes the number of letters as an attribute and by using the Random module and String methods, returns a password consisting of lower case letters, digits and special characters from a given list, up to the given amount of characters.
            </h6>
            </td>
            </tr>
            <tr>
                <td align="center">
                    <p class="medium">
                        The results will appear at the bottom of the form
                    </p>
                </td>
            </tr>
          </table>
    
        <p class="small">
            Please enter the desired length of password 
        </p>
        <form action="/pass-r" method="post">
            <input autocomplete="off" autofocus name="number" placeholder="number of characters"  type="int">
            <input value="Get Password"  type="submit">
        
        </form>
        {% include 'password-done.html' %}

        <p>
            <form action = "/" method="get">
                <button type="submit" class="btn btn-dark">Return Home</button>
            </form>
        </p>


        
{% endblock %}