{% extends "layout-about.html" %}
{% block body %}
    
    
        <h1 class="display-4">
            About me
        </h1>
        <div class="container text-center">
            <div class="row">
              <div class="col-md-5 text-end">
                <img src="static/vanya2.jpg" width="150">
              </div>
              <div class="col-md-3 text-start">
                <strong>I have been a graphic designer for the past 10 years with strong logical thinking and problem solving. My goal is to start a career in programming and to achieve this I began studying the Python language. I completed the introduction and advanced Python courses from Helsinki University, as well as Python Institute's prerequisite certification courses, followed by an Associate Certificate in Python programming. </strong><br><br>
                During the courses I learned how to manipulate text files, create games and write program code using various Python modules and libraries. <br><br>
                I decided to explore Flask, CSS, Jinja and HTML in order to start creating web applications, as well as the use of SQL for connecting Python functionality with databases. On this website you can view some of the course exercises and other ideas which I have presented as small web projects.
                <br><br><strong>View Certificates</strong><br>
                <a href="https://verify.openedg.org/?id=3WaK.brP4.rHyG" target=”_blank”><img src="static/pcap.jpeg" width="70"></a>
                <a href="https://certificates.mooc.fi/validate/9kwhxj19t7" target=”_blank”><img src="static/hels.jpeg" width="70"></a>
            </div>
            </div>  
        </div>      


        <p>
            <form action = "/" method="get">
                <button type="submit" class="btn btn-dark">Return Home</button>
            </form>
        </p>
        <br>
<br>
<div class="card text-center bg-light">
<div class="col-md-3"></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
    