{% extends "layout.html" %}
{% block body %}

<h1 class="display-4">
    Hello and welcome to my page
</h1>
<h5>
    Below you will find some programs created using Python, Flask, Jinja, HTML and CSS. 
</h5>
<h7> My skills in front end development aren't strong, therefore the website is basic but I've created it from scratch in order to showcase the scope of my understanding of HTML and CSS. </h7>
<h6><strong>My passion is programming and making things work in the background.</strong></h6>
<p></p>

<a href="static/Vanya_Tochevska_CV.pdf"> Download CV </a>

<!-- <a href="/test">test</a> -->
<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/investment">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/invest.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Investment Calculator</h6>
                                <p>The program can help calculate a long term property investment</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/pic">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/id-sm.jpg" alt="" />
                            </div>

                            <div class="text-container">
                                <h6>Valid Personal Identification Code</h6>
                                <p>The program validates a PIC</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/names-db">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/athlete-sm.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Athlete database</h6>
                                <p>This program stores names, ages and sports into a dictionary</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/forbidden">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/forbidden.jpeg" alt="" />
                            </div>

                            <div class="text-container">
                                <h6>Forbidden characters</h6>
                                <p>Cleans up extra characters from a submitted sentence</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>    
        <div class="row">
                
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="/password">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="static/password.jpeg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Password Generator</h6>
                                    <p>Generate a password by a given number of characters</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="/lottery">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="static/lottery-sm.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Lottery</h6>
                                    <p>Play the lottery with 7 numbers from 1 to 40</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="/spellcheck">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="static/spell-sm.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Spellchecker</h6>
                                    <p>Corrects spelling errors in a submitted sentence</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <a href="https://github.com/vtoch23/portfolio" attributes-list download target="_blank"><button type="button" class="btn btn-primary" aria-pressed="false" autocomplete="off" >
            Download Python files
          </button></a>

          <script>
      function downloadFile() {
         window.open("https://github.com/vtoch23/portfolio")
      }
   </script>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
   
</div>


    <!-- 
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/login">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/login.jpeg" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>Login user database</h6>
                                <p>Login page which creates accounts and stores users in a database</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->


    <!--
  <div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/files">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/files.jpeg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>File handlers</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/games">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/games.png" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>Games</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        -->

    <!--
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/words">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/words.jpeg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Most common words</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
  </div>

  -->
    <!--
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/products">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/products.jpeg" alt="" />
                            </div>
                            <div class="text-container">                                    
                                <h6>Product Search</h6>
                                <p>A searchable program storing products submitted by user.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a href="/orders">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="static/orders.jpeg" alt="" />
                            </div>
  
                            <div class="text-container">
                                <h6>Order book</h6>
                               <p>A searchable program storing products submitted by user.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            -->




{% endblock %}