
        <h6 class="text-muted">
            {{message}}
        </h6>
        <div class="bg-light.bg-gradient"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Age </th>
                        <th> Sport </th>
                    </tr>
                </thead>

                <tbody>
            
                    {% for name in registrants %}
                        
                <tr>
                    <td> {{ name }}</td>
                    {% for item in registrants[name] %}
                    <td> {{ item }}</td>
                    {% endfor %}
                    <td> {{ item }}</td>
                </tr>
                
                {% endfor %}
                </tbody>
            </table>
        </div>